<li>
  <div class="to_right">
    <div class="seasons">
      <% camp.seasons.each do |season| %>
        <span><b><%= season.title %>:</b> <%= l season.starts_on, :format => '%d.%m' %>&nbsp;&ndash;&nbsp;<%= l season.ends_on, :format => '%d.%m.%Y' %></span>
      <% end %>
    </div>
    <div class="ages">
      <% if camp.seasons.map(&:age_min).uniq.one? && camp.seasons.map(&:age_max).uniq.one? %>
        <span class='single'><%= camp.seasons.first.age_min %>&nbsp;&ndash;&nbsp;<%= camp.seasons.first.age_max %> лет</span>
      <% else %>
        <% camp.seasons.each do |season| %>
          <span><%= season.age_min %>&nbsp;&ndash;&nbsp;<%= season.age_max %> лет</span>
        <% end %>
      <% end %>
    </div>
    <div class="costs">
      <% if camp.seasons.map(&:price_min).uniq.one? && camp.seasons.map(&:price_max).compact.empty? %>
        <span class='single'><%= number_to_currency camp.seasons.first.price_min %></span>
      <% else %>
        <% camp.seasons.each do |season| %>
          <% if season.price_max? %>
            <span><%= number_to_currency season.price_min, :unit => '' %>&nbsp;&ndash;&nbsp;<%= number_to_currency season.price_max %></span>
          <% else %>
            <span><%= number_to_currency season.price_min %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to camp_path(:id => camp.id), :class => 'image' do %>
    <% if camp.photos.any? %>
      <%= image_tag image_url(camp.photos.first.image_url, 60, 60), :alt => camp, :title => camp, :width => 60, :height => 60 %>
    <% else %>
      <%= image_tag 'stub.png', :alt => camp, :title => camp, :weight => 60, :height => 60 %>
    <% end %>
  <% end %>
  <div>
    <%= link_to camp, camp_path(:id => camp.id), :class => 'title' %>
    <span><%= camp.kind_text %></span>
    <span><%= camp.district.text %></span>
  </div>
</li>
