<div class="chapter">
  <h1>Реестр лагерей</h1>

  <div class="search_wraper">
    <%= form_tag camps_path, :method => :get do %>
      <div class='input'>
        <%= label_tag :district, 'Район' %>
        <%= select_tag :district, options_for_select(Address.district.options, params[:district]), :prompt => '--- не выбрано ---' %>
      </div>

      <div class='input'>
        <%= label_tag :kind, 'Тип лагеря' %>
        <%= select_tag :kind, options_for_select(Camp.kind.options, params[:kind]), :prompt => '--- не выбрано ---' %>
      </div>

      <div class='input'>
        <%= label_tag :age, 'Возраст ребенка' %>
        <%= select_tag :age, options_for_select([['10 - 15 лет', '10_15']], params[:age]), :prompt => '--- не выбрано ---' %>
      </div>

      <div class='input'>
        <%= label_tag :period, 'Время пребывания' %>
        <%= select_tag :period, options_for_select([['июнь', 'june'], ['июль', 'july'], ['август', 'august']], params[:period]), :prompt => '--- не выбрано ---' %>
      </div>

      <div class='wrapper_sort'>
        Сортировка:
        <ul class='sortings'>
          <li class='<%= params[:order_by] && params[:order_by] == 'starts_on' ? 'active' : 'not_active' %>'><%= link_to 'По началу смены', camps_path(Camp.query.merge!(:order_by => 'starts_on')) %></li>
          <li class='<%= params[:order_by] && params[:order_by] == 'price' ? 'active' : 'not_active' %>'><%= link_to 'По стоимости', camps_path(Camp.query.merge!(:order_by => 'price')) %></li>
        </ul>
      </div>

      <div class='buttons'>
        <%= submit_tag 'Искать' %>
      </div>
    <% end %>
  </div>

  <ul class='camps_list'>
    <%= render @camps %>
  </ul>

  <%= paginate @camps %>
</div>

<% if @content_first %>
  <div class="chapter">
    <ul>
      <% if Register.first.attachment_url? %>
        <li><%= link_to Register.first.title, Register.first.attachment_url %></li>
      <% end %>

      <% if Register.last.attachment_url? %>
        <li><%= link_to Register.last.title, Register.last.attachment_url %></li>
      <% end %>

      <li><%= link_to "Текущий реестр лагерей", register_path %></li>
    </ul>
  </div>
<% end %>
