<% if @actual %>
  <div class="actual">
    <h1>Актуальная информация</h1>
    <%= render_partial_for_region @actual if @actual %>
  </div>
<% end %>

<% if @news %>
  <div class="news_list">
    <h1><%= link_to 'Новости', @news.content.collection_link %><%= link_to 'RSS', @news.content.rss_link, :class => 'rss' %></h1>
    <ul>
      <% @news.content['items'].each do |item| %>
        <li>
          <div class="date"><%= l Time.zone.parse(item.since), :format => '%d %B %Y', :locale => :ru %></div>
          <div class="title"><a href='<%= item.link %>'><%= item.title %></a></div>
          <div class="desc"><%= raw item.annotation %></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
