<div class='chapter'>
  <h3>Задать вопрос</h3>
  <div class='message'>
    <%= flash[:notice] %>
    <%= flash[:recaptcha_error].nil? ? '' : t('recaptcha.errors.verification_failed') %>
  </div>

  <%= form_for @request, :url => create_request_path, :method => :post do |f| %>
    <%= f.error_messages %>
    <div class='inputs'>
      <div class="input">
        <%= f.label :fullname, 'Ф.И.О.' %>
        <%= f.text_field :fullname %>
      </div>
      <div class="input">
        <%= f.label :email, 'Электронная почта' %>
        <%= f.text_field :email %>
      </div>
      <div class="input">
        <%= f.label :message, 'Сообщение' %>
        <%= f.text_area :message %>
      </div>
    </div>

    <div class='recaptcha'>
      <%= recaptcha_tags :display => {:theme => 'white'}, :ajax => true %>
    </div>
    <div class='submit'>
      <%= f.submit "Отправить" %>
    </div>
  <% end %>
</div>
