<%= simple_nested_form_for [:manage, @camp] do |f| %>
  <%= f.input :title, :wrapper_html => { :class => 'title' } %>
  <%= f.input :kind, :include_blank => '--- не выбрано ---', :wrapper_html => { :class => 'kind' } %>

  <div class="address_inputs">
    <% @camp.build_address unless @camp.address %>
    <%= f.fields_for :address do |address_form| %>
      <%= address_form.input :district, :include_blank => '--- не выбрано ---' %>
      <%= address_form.input :address_line %>
    <% end %>
  </div>

  <%= f.input :description, :wrapper_html => { :class => 'description' } %>

  <fieldset class='phones'>
    <legend>Телефоны (<%= f.link_to_add 'добавить телефон', :phones, :data => { :target => 'fieldset.phones' } %>)</legend>
    <%= f.fields_for :phones do |phone_form| %>
      <%= phone_form.input :number, :label => false %>
      <%= phone_form.link_to_remove 'Удалить', :class => 'remove-phone' %>
    <% end %>
  </fieldset>

  <fieldset class='links'>
    <legend>Ссылки (<%= f.link_to_add 'добавить ссылку', :links, :data => { :target => 'fieldset.links' } %>)</legend>
    <%= f.fields_for :links do |link_form| %>
      <%= link_form.input :title %>
      <%= link_form.input :url %>
      <%= link_form.link_to_remove 'Удалить' %>
    <% end %>
  </fieldset>

  <fieldset class='employees'>
    <legend>Работники (<%= f.link_to_add 'добавить работника', :employees, :data => { :target => 'fieldset.employees' } %>)</legend>
    <%= f.fields_for :employees do |employee_form| %>
      <%= employee_form.input :full_name %>
      <%= employee_form.input :post %>
      <%= employee_form.input :phone_number %>
      <%= employee_form.link_to_remove 'Удалить' %>
    <% end %>
  </fieldset>

  <fieldset class='seasons'>
    <legend>Смены (<%= f.link_to_add 'добавить смену', :seasons, :data => { :target => 'fieldset.seasons' } %>)</legend>
    <%= f.fields_for :seasons do |season_form| %>
      <%= season_form.input :title %>
      <%= season_form.input :price_min %>
      <%= season_form.input :price_max %>
      <%= season_form.input :starts_on, :as => :date_picker %>
      <%= season_form.input :ends_on, :as => :date_picker %>
      <%= season_form.input :age_min %>
      <%= season_form.input :age_max %>
      <%= season_form.link_to_remove 'Удалить' %>
    <% end %>
  </fieldset>

  <div class='buttons'>
    <%= f.submit 'Сохранить' %>
    <%= link_to "Отмена", :back %>
  </div>
<% end %>
