<h1>Список лагерей</h1>

<div class="actions">
  <%= link_to 'Добавить лагерь', new_manage_camp_path %>
</div>

<div class="search_wrapper">
  <%= form_tag manage_camps_path, :method => :get do %>
    <%= text_field_tag :q, params[:q], :class => 'query', :placeholder => 'Поиск' %>

    <div class='kind'>
      <% Camp.kind.options.each do |option| %>
        <div class="check_box">
          <%= check_box_tag 'kinds[]', option.last, @kinds.include?(option.last), :id => "kind_#{option.last}" %>
          <%= label_tag "kind_#{option.last}", option.first %>
        </div>
      <% end %>
    </div>

    <div class='location'>
      <% Address.district.options.each_slice(5).each do |array| %>
        <div class="column">
          <% array.each do |option| %>
            <div class="check_box">
              <%= check_box_tag 'districts[]', option.last, @districts.include?(option.last), :id => "district_#{option.last}" %>
              <%= label_tag "district_#{option.last}", option.first %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="buttons">
      <%= submit_tag 'Найти' %>
    </div>
  <% end %>
</div>

<% if collection.any? %>
  <ul class='list'>
    <%= render collection %>
  </ul>
<% else %>
  <div class="empty">Нет ни одного лагеря</div>
<% end %>

<%= paginate collection %>
