<div class="camp_show">
  <%= link_to '&larr; Список лагерей'.html_safe, manage_camps_path %>

  <h1><%= @camp.title %> (<%= @camp.kind_text %>)</h1>

  <div class="description">
    <%= simple_format @camp.description %>
  </div>

  <div class="contacts_info">
    <p>Район: <%= @camp.district.text %></p>
    <p>Адрес: <%= @camp.address_line %></p>
    <p>Тел.: <%= @camp.phones_line %>
    <% @camp.links.each do |link| %>
      <p><%= link_to link.title, link.url, :target => '_blank' %></p>
    <% end %>
  </div>

  <div class="employees">
    <h3>Сотрудники</h3>
    <% @camp.employees.each do |employee| %>
      <p><%= employee %></p>
    <% end %>
  </div>

  <div class="seasons">
    <h3>Смены</h3>
    <%= render @camp.shifts %>
  </div>

  <div class="actions">
    <%= link_to 'Редактировать', edit_manage_camp_path(@camp) %>
    <%= link_to "Удалить", manage_camps_path(@camp), :method => :delete, :confirm => 'Вы уверены?' %>
  </div>
</div>
