<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "public/application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class='sub_wrapper'>
        <div class='wrapper'>
          <div class="logo">
            <div class="tgr_logo" title='Администрация Томской области'>Администрация Томской области</div>
            <h1><a href="/" title='<%= @site_name.content.body %>'><%= @site_name.content.body %></a></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="left_side">

        <ul>
          <% index = 1%>
          <% @main_navigation.content.ru.children.each do |slug, hash| %>
            <li>
              <h3 class='<%= index.odd? ? 'green' : ( index == 2 ? 'blue' : 'yellow' ) %>'><%= hash.title %></h3>
              <ul>
                <% hash.children.each do |slug, item| %>
                  <li>
                    <%= link_to item.title, item.path, :class => "#{'selected' if item.selected}" %>
                    <% if item.has_key?(:children) %>
                      <ul>
                        <% item.children.each do |slug, item| %>
                          <li><%= link_to item.title, item.path, :class => "#{'selected' if item.selected}" %></li>
                        </ul>
                      <% end %>
                    <% end %>
                  </li>
                <% end if hash.has_key?(:children)%>
              </ul>
            </li>
            <% index += 1 %>
          <% end %>
        </ul>

        <a class="ask_a_question" href='/ru/request'>Задать вопрос</a>
      </div>

      <div class="right_side">
        <div class="main_content">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="top">
        <div class="useful_links">
          <h4>Полезные ссылки:</h4>
          <%= render_partial_for_region @useful_links if @useful_links %>
        </div>
      </div>

      <div class="bottom">
        <div class="links">
          <ul>
            <li>Разработка и поддержка: <a href='http://openteam.ru'>OpenTeam</a></li>
            <li>Дизайн: <a href="http://userstory.ru/">РосБизнесДизайн</a></li>
          </ul>
        </div>
        <a href="http://family.tomsk.gov.ru/" class='department_logo'>Департамент<br/>по вопросам семьи и детей<br/>Томской области</a>
        <div class="copyright"><span>Детский отдых в Томской области</span> &copy; <%= Time.zone.now.year %></div>
      </div>
    </div>
  </body>
</html>
