<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class='sub_wrapper'>
        <div class='wrapper'>
          <div class="logo">
            <div class="tgr_logo" title='Администрация Томской области'>Администрация Томской области</div>
            <h1><a href="/" title='Детский отдых в Томской области'>Детский отдых в Томской области</a></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="left_side">
        <ul>
          <li>
            <h3 class='green'>Детские лагеря</h3>
            <ul>
              <li><a href='#'>Загородные оздоровительные лагеря</a></li>
              <li><a href='#'>Родителям</a></li>
              <li><a href='#'>Детям</a></li>
            </ul>
          </li>
          <li>
            <h3 class='blue'>Детские санатории</h3>
            <ul>
              <li><a href='#'>Детские санаторные лагеря</a></li>
              <li><a href='#'>Родителям</a></li>
              <li><a href='#'>Детям</a></li>
            </ul>
          </li>
          <li>
            <h3 class='green'>Педагогам и организаторам</h3>
            <ul>
              <li><a href='#'>Вожатым</a></li>
              <li><a href='#'>Организаторам</a></li>
              <li><a href='#'>Работа в лагере</a></li>
              <li><a href='#'>Резюме</a></li>
            </ul>
          </li>
          <li>
            <h3 class='yellow'>Документы</h3>
            <ul>
              <li><a href='#'>Нормативные документы</a></li>
            </ul>
          </li>
        </ul>

        <a class="ask_a_question" href='#'>Задать вопрос</a>
      </div>

      <div class="right_side">
        <div class="main_content">
          <div class="actual">
            <h3>Актуальная информация</h3>
            <ul>
              <li><a href='#'>Итоги превого посещения оздоровительных организаций</a></li>
              <li><a href="#">Солнечная фиеста 2012</a></li>
              <li><a href="#">Cмотр-конкурс на звание «Лучший загородный оздоровительный лагерь Томской области» в 2011 году</a></li>
              <li><a href="#">Областной смотр-конкурс на звание Лучшая оздоровительная организация Томской области</a></li>
              <li><a href="#">Информация для родителей</a></li>
            </ul>
          </div>
          <div class="news_list">
            <h3>Новости</h3>
            <ul>
              <li>
                <div class="date">26 июля 2012 г.</div>
                <div class="title"><a href='#'>Лучший отрядный вожатый 2012</a></div>
                <div class="desc">9 июля в томском Информационном центре по атомной энергии состоялся первый этап конкурса «Лучший отрядный вожатый - 2012», в рамках областного Смотра-конкурса на звание «Лучшая детская оздоровительная организация Томской области».</div>
              </li>
              <li>
                <div class="date">26 июля 2012 г.</div>
                <div class="title"><a href='#'>Лучший отрядный вожатый 2012</a></div>
                <div class="desc">9 июля в томском Информационном центре по атомной энергии состоялся первый этап конкурса «Лучший отрядный вожатый - 2012», в рамках областного Смотра-конкурса на звание «Лучшая детская оздоровительная организация Томской области».</div>
              </li>
            </ul>
          </div>
          <div class="chapter">
            <h3>Название раздела</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="top">
        <div class="useful_links">
          <h4>Полезные ссылки:</h4>
          <ul>
            <li>
              <a href="#">Помощь родителям и детям</a>
            </li>
            <li>
              <a href="#">Все для родителей об их детях</a>
            </li>
            <li>
              <a href="#">Союз детских организаций «Чудо»</a>
            </li>
            <li>
              <a href="#">Полезное для детей и родителей</a>
            </li>
            <li>
              <a href="#">Каталог лагерей, санаториев и баз</a>
            </li>
            <li>
              <a href="#">Сайт для вожатых</a>
            </li>
            <li>
              <a href="#">Детский отдых для родителей</a>
            </li>
            <li>
              <a href="#">Википедия организаторов отдыха</a>
            </li>
            <li>
              <a href="#">Документы Роспотребнадзора РФ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="bottom">
        <div class="links">
          <ul>
            <li>Разработка и поддержка: <a href='http://openteam.ru'>OpenTeam</a></li>
            <li>Дизайн: <a href="http://userstory.ru/">РосБизнесДизайн</a></li>
          </ul>
        </div>
        <a href="http://family.tomsk.gov.ru/" class='department_logo'>Департамент<br/>по вопросам семьи и детей<br/>Томской области</a>
        <div class="copyright"><span>Детский отдых в Томской области</span> &copy; <%= Time.zone.now.year %></div>
      </div>
    </div>
  </body>
</html>
