<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'manage/application' %>
    <%= javascript_include_tag 'manage' %>
    <title>camps.tomsk.ru - manage</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main_wrapper">
      <div class="navigation">
        <ul>
          <li <%= "class='selected'" if controller_name == 'camps' %>><%= link_to 'Управление лагерями', manage_camps_path %></li>
          <li <%= "class='selected'" if controller_name == 'registers' %>><%= link_to 'Управление реестрами', manage_registers_path %></li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
